<div>
  <h2>Editar Professor</h2>
  <form (ngSubmit)="editarProfessor()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" [(ngModel)]="professor.nome" name="nome" required />

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" [(ngModel)]="professor.cpf" name="cpf" required />

    <label for="titulacao">Titulação:</label>
    <input type="text" id="titulacao" [(ngModel)]="professor.titulacao" name="titulacao" required />


    <button type="submit">Salvar</button>
  </form>
</div>