<input type="text" placeholder="Pesquisar sala pelo numero" [(ngModel)]="nomePesquisa" (input)="pesquisarSalas()" />


<div *ngFor="let sala of salas">
  <p>{{ sala.numero }}</p>
  <p *ngIf="!sala.ativo" class="inativo">(Inativo)</p>


  <!-- Botão de editar e excluir para professores ativos -->
  <button *ngIf="sala.ativo" (click)="editarSala(sala.id)">Editar</button>
  <button *ngIf="sala.ativo" (click)="excluirSala(sala.id)">Excluir</button>

  <!-- Botão de reativar para professores inativos -->
  <button *ngIf="!sala.ativo" (click)="reativarSala(sala.id)">Reativar</button>


</div>
