<input type="text" placeholder="Pesquisar sala pelo nome" [(ngModel)]="nomePesquisa" (input)="pesquisarSalas()" />


<div *ngFor="let sala of salas">
  <p>{{ sala.nome }}</p>
  <p *ngIf="!sala.status" class="instatus">(Instatus)</p>


  <!-- Botão de editar e excluir para professores statuss -->
  <button *ngIf="sala.status" (click)="editarSala(sala.id)">Editar</button>
  <button *ngIf="sala.status" (click)="excluirSala(sala.id)">Excluir</button>

  <!-- Botão de reativar para professores instatuss -->
  <button *ngIf="!sala.status" (click)="reativarSala(sala.id)">Reativar</button>


</div>