<input type="text" placeholder="Pesquisar Disciplina pelo nome" [(ngModel)]="nomePesquisa" (input)="pesquisarDisciplinas()" />


<div *ngFor="let disciplina of disciplinas">
  <p>{{ disciplina.nome }}</p>
  <p *ngIf="!disciplina.status" class="instatus">(Instatus)</p>


  <button *ngIf="disciplina.status" (click)="editarDisciplina(disciplina.id)">Editar</button>
  <button *ngIf="disciplina.status" (click)="excluirDisciplina(disciplina.id)">Excluir</button>

  <button *ngIf="!disciplina.status" (click)="reativarDisciplina(disciplina.id)">Reativar</button>


</div>