<div>
  <h2>Editar Vínculo de Turma e Aluno</h2>

  <form (ngSubmit)="updateTurmaHasAlunos()">
    <div>
      <label for="aluno">Selecione um Aluno:</label>
      <select id="aluno" [(ngModel)]="selectedAlunoId" name="aluno" required>
        <option *ngFor="let aluno of alunos" [value]="aluno.aluno_id">
          {{ aluno.aluno_nome }}
        </option>
      </select>
    </div>
    <div>
      <label for="vinculo">Selecione uma Turma:</label>
      <select id="vinculo" [(ngModel)]="selectedTurmaId" name="vinculo" required>
        <option *ngFor="let vinculo of alunos" [value]="vinculo.vinculo_id">
          {{ vinculo.turma_nome }}
        </option>
      </select>
    </div>
    <button type="submit">Salvar Alterações</button>
  </form>
</div>